<?xml version="1.0" encoding="utf-8"?>
<!--
 CineLog Copyright 2018 Pierre Rognon
 kinolog Copyright (C) 2017  ryan rigby

 This file is part of CineLog.
 CineLog is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 CineLog is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with CineLog. If not, see <https://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ulicae.cinelog"
    android:versionCode="33"
    android:versionName="1.5.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".KinoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".android.activities.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.activities.WishlistActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".android.activities.TagsActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".android.activities.Search" />
        <activity
            android:name=".android.activities.add.AddKino"
            android:label="@string/title_activity_add_kino"
            android:parentActivityName=".android.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.MainActivity" />
        </activity>
        <activity
            android:name=".android.activities.add.AddSerieActivity"
            android:label="@string/title_activity_add_serie"
            android:parentActivityName=".android.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.MainActivity" />
        </activity>
        <activity
            android:name=".android.activities.EditTag"
            android:label="@string/tags_title"
            android:parentActivityName=".android.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.MainActivity" />
        </activity>
        <activity
            android:name=".android.activities.ViewKino"
            android:label="@string/title_activity_view_kino"/>
        <activity
            android:name=".android.activities.ViewSerie"
            android:label="@string/title_activity_view_serie"/>
        <activity
            android:name=".android.activities.ViewUnregisteredKino"
            android:label="@string/title_activity_view_unregistered_kino"/>
        <activity
            android:name=".android.activities.view.ViewDataActivity"
            android:label="@string/title_activity_view_unregistered_kino"/>
        <activity
            android:name=".android.activities.EditReview"
            android:label="@string/title_activity_add_review"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".io.exportdb.ExportDb"
            android:label="@string/title_activity_export_db"
            android:parentActivityName=".android.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.MainActivity" />
        </activity>
        <activity
            android:name=".io.importdb.ImportInDb"
            android:label="@string/title_activity_import_db"
            android:parentActivityName=".android.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.MainActivity" />
        </activity>
        <activity
            android:name=".android.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/DarkPreferencesTheme"
            android:parentActivityName=".android.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.MainActivity" />
        </activity>
    </application>

</manifest>